html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    scroll-behavior:smooth;
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    display: block;
}

.logo__img {
    width: 250px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 80px;
    height: 7px;
    left: 30px;
    background-color: rgb(241, 240, 138);
    transition: background-color .5s, opacity .4s, transform .6s;
    will-change: transform;
}

.header__burger-btn:hover span {
    padding-top: 14%;
    background-color: rgba(32, 189, 18, 0.884);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-35px);
}

.header__burger-btn span:nth-child(2) {}

.header__burger-btn span:nth-child(3) {
    transform: translateY(35px);
}


/* Крестик */

.header.open .header__burger-btn span {
    background-color: rgba(230, 44, 12, 0.952);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-top: 110px;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 28px;
}

@media (max-width: 990px) {
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        right: -350px;
        top: 0;
        width: 350px;
        padding: 75px 20px 20px 20px;
        background-color: rgba(99, 57, 214, 0.603);
        visibility: hidden;
        transition: transform .6s, visibility .7s;
        will-change: transform;
    }
    .menu__list {
        display: block;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    .menu__link {
        color: rgb(247, 214, 70);
        font-size: 37px;
        display: block;
        padding: 15px;
    }
    .header.open .menu {
        transform: translateX(-90%);
        visibility: visible;
    }
}

footer {
    flex-direction: column;
    justify-content: center;
    padding-left: 270px;       
}

.footer-item001 {
    padding-left: 30px;
}

h2 {
    font-size: 37px;
    padding-top: 70px;
    padding-inline-start: 45px;
    
}


.movies-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
    padding-top: 10px;     

  }


  .movies-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

  /* /Расстояние от первого раздела (видео),
        где заканчивается картинка (3 фото) и начинается видео */
  .section__h2_first {
    margin-top: 10px;
  }

  .text_01 {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
} 




nav {
    position: fixed;
    top: 7%;
    right: 0;
    transform: translateY(-7%);
    border-radius: 0px 0 0 0px;
}


nav a {
       
    border-radius: 25%;
    background-color: rgb(61, 112, 207);
    
}



img_01 {
    align-items: center;
    margin: 0 auto;

}


h1 {
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: blue;
    color: rgb(45, 188, 207);
    text-align: center;
    flood-color: rgb(120, 49, 173);
}



.footer_img_tg {
    margin-top: 75px;
    margin-left: 39px;

}

.footer-list__item05 {
    font-size: 25px;
}
